<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <%= simple_form_for(@look, html: {class: "form-horizontal"}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs description-label">
          <%= f.input :description, as: :text, input_html: {rows: "3"}, class: "description-label-2" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>