
<div class="box">
  <%= link_to (image_tag look.image.url(:medium)), look %>
  <p class="username">
    <strong>
      Posted by <%= look.user.username %>
    </strong>
  </p>
  <% if current_user == look.user %>
    <p>
    <%= link_to 'Edit', edit_look_path(look) %> <br>
    <%= link_to 'Delete', look, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% else %>
  <% end %>
</div>