<div>
  <p id="notice"><%= notice %></p>

  <h1>Listing Looks</h1>

  <table class="table table-striped ">
    <thead>
      <tr>
        <th>Look</th>
        <th>Description</th>
        <th>Username</th>
      </tr>
    </thead>

    <tbody>
      <%= render @looks %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Look', new_look_path %>
</div>
