<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <h1 class="text-center">New Look</h1>

      <%= render 'form' %>

      <%= link_to 'Back', looks_path %>
    </div>
  </div>
</div>