<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <p>
        <%= @look.description %>
      </p>

      <%= link_to 'Edit', edit_look_path(@look) %> |
      <%= link_to 'Back', looks_path %>
    </div>
  </div>
</div>