<h1>About</h1>
<p>
  Are you searching for cute new looks, makeup tips, or hot products? Are you dying to share your latest tutorials with the world?
</p>
<p>
  Meet Picturesque, a user-generated site for sharing beauty-related photos, videos, tips, and more.
</p>