<% if user_signed_in? %>
  <!-- do stuff -->
<% else %>

  <div class="col-md-9">
    <h1 class="welcome-header">Welcome to Picturesque!</h1>
    <h2 class="welcome-description">The #1 source for beauty inspiration from real people around the world.</h2>

    <div class="container">
      <img src="http://pbs.twimg.com/media/CEMTyGxW8AAb2bH.jpg:large", class="homepage-face" />
    </div>
  </div>

  <div class="col-md-3 cicelly">
    <p class="text-center"> "I guarantee this will be your new favourite website." -Cicelly </p>

    <p>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-default btn-large"  %>
    </p>
  </div>

<% end %>