<h1>Welcome to Picturesque!</h1>
<h2>A site for makeup lovers to share their favourite looks</h2>

<p>
<%= link_to "Sign up now!", "#" %>
</p>

<p> "I guarantee this will be your new favourite website." -Cicely </p>