<div class="col-md-9">
<h1 class="text-center">Welcome to Picturesque!</h1>
<h2 class="text-center">A site for makeup lovers to share their favourite looks</h2>

<p> Are you searching for cute new looks, makeup tips, or hot products? Are you dying to share your latest tutorials with the world?

Meet Picturesque, a user-generated site for sharing beauty-related photos, videos, tips, and more.</p>
</div>

<div class="col-md-3 cicelly">
  <p class="text-center"> "I guarantee this will be your new favourite website." -Cicelly </p>

  <p>
  <%= link_to "Sign up now!", "#" %>
  </p>
</div>