// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "Source Sans Pro";
}

li {
  font-family: "Source Sans Pro";
}


h2 {
  font-style: italic;
  font-size: 20px;
}

.form-header {
    margin: -5px 0px 20px 0 ;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #EDEDED;
    border-radius: 3px 3px 0 0;
}


.account-cancel-margin {
  margin-top: 3px;
  padding-top: 3px;
}

.profile-edit-margin {
  margin-bottom: 1px;
  padding-bottom: 20px;
  padding-top: 5px;
}

.homepage-face {
  height: 380px;
  width: 285px;
  display: block;
  margin: 0 250px;
}

.form-header {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.black-background {background-color:#000000;}

.white {color: #ffffff;}
.red {color: red;}

.welcome-header {
  font-family: "Playfair Display";
  text-align: center;
}

.welcome-description {
  font-family: "Playfair Display";
  text-align: center;
}

.cicelly {
  margin-top: 500px;
}


.navbar-brand {
  font-family: 'Allura', cursive;
  font-size: 2.5em;
}

.footer {
  color: #d3d3d3;
  a {
    color: #bababa ;
  }
}